# TMDB API
NEXT_PUBLIC_TMDB_API_KEY=1893f8ae3d06820f656e8cb51e4559a7
TMDB_API_BASE_URL=https://api.themoviedb.org/3

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/teladupla"

# Auth (vamos usar depois)
NEXTAUTH_SECRET=your_secret_here
NEXTAUTH_URL=http://localhost:3000

NEXT_PUBLIC_API_URL=http://localhost:3001